<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bill</title>
</head>

<body>


<TABLE BORDER="2"    WIDTH="100%"   CELLPADDING="2" CELLSPACING="2">
       <TR>
          <th COLSPAN="2"><BR><strong>Kalrav</strong></TH>         
       </TR>
       <TR>
           <TD colspan="4"><strong>Invoice No.</strong>........051........ <strong style=" margin-left:550; ">Date.</strong>.......10/10/2014.......</TD>    
       </TR>
       <TR>
          <TD rowspan="3">Mr.&nbsp <INPUT type="text" name="name" size="50" /> </TD>
          
       </TR>
       <TR> 
           <TD>Order No.&nbsp;&nbsp;................................... &nbsp; Date.....................................</TD>
       </TR>
       <TR> 
           <TD>G.R No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...................................&nbsp;&nbsp; Date................................</TD>
       </TR>
     
</TABLE>
<hr>
<table border="2" width="100%"  cellpadding="2" cellspacing="2">   
        <thead>
          <th>Chalan.No</th>
          <th>PARTICULARS</th>
          <th>VAT</th>
          <th>Total Units.</th>
          <th>RATE</th>
          <th COLSPAN="2">AMOUNT <br/>Rs. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; P. </th>
         </thead>
         
        <tr>
          <td rowspan="3">Data 1</td>
          <td>Color : Red</td>
          <td rowspan="3">Data 1</td>
          <td rowspan="3">Data 2</td>
          <td rowspan="3">Data 1</td>
          <td rowspan="3">7600</td>
          <td rowspan="3">00</td>
       </tr>
        <tr>
          <td>Desigh : ABCD</td>
       </tr>
        <tr>
          <td>Size : 12233</td>
       </tr>
       <tr>
          <td colspan="4"></td>
          <td>Total</td>
          <td>7600</td>
          <td>00</td>
       </tr>
      
       <tr>
          <td colspan="4"></td>
          <td>Round off</td>
          <td>---</td>
          <td>---</td>
       </tr>
       <tr>
          <td colspan="4">Rs in Words :   .............................................................</td>
          <td>G.Total</td>
          <td>7600</td>
          <td>00</td>
       </tr>
       
        <tr>
            <td colspan="7">Directed Jaipur jurisdiction must be within ........ Days & by payment draft/cash only :   ....................................<br/><p>Party Signature : ..................................</p> 
                <p style="float: right; margin-right: 100px;">For : Kalrav </p><br/><br/>
                <p style="float: right; margin-bottom: 10px; margin-right:0px;">Propriter</p></td>
         
     
       </tr>
</table>


</body>
</html>
